<!-- <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div  *ngFor="let producto of productos">
          <h2>Detalle del Producto</h2>
          <div class="card">
            <img [src]="producto.imagen" class="card-img-top" alt="Imagen del Producto">
            <div class="card-body">
              <h5 class="card-title">{{ producto.nombre }}</h5>
              <p class="card-text"><strong>Marca:</strong> {{ producto.marca }}</p>
              <p class="card-text"><strong>Valor:</strong> {{ producto.valor }}</p>
              <p class="card-text"><strong>Descripción:</strong> {{ producto.descripcion }}</p>
              <p class="card-text"><strong>Fecha de Ingreso:</strong> {{ producto.fecha_creacion }}</p>
              <p class="card-text" *ngIf="producto.fecha_venta"><strong>Fecha de Venta:</strong> {{ producto.fecha_venta }}</p>
              <p class="card-text"><strong>Estado:</strong> {{ producto.estado }}</p>
            </div>
          </div>
        </div>
        <div>
          <p>No se encontró información del producto.</p>
        </div>
      </div>
    </div>
  </div> -->
 
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div *ngIf="producto">
          <h2>Detalle del Producto</h2>
          <div class="card">
            <img [src]="producto.imagen" class="card-img-top" alt="Imagen del Producto">
            <div class="card-body">
              <h5 class="card-title">{{ producto.nombre }}</h5>
              <p class="card-text"><strong>Marca:</strong> {{ producto.marca }}</p>
              <p class="card-text"><strong>Valor:</strong> {{ producto.valor }}</p>
              <p class="card-text"><strong>Descripción:</strong> {{ producto.descripcion }}</p>
              <p class="card-text"><strong>Fecha de Ingreso:</strong> {{ producto.fechaCreacion | date: 'dd/MM/yyyy'}}</p>
              <p class="card-text"><strong>Fecha de Venta:</strong> {{ producto.fechaVenta | date: 'dd/MM/yyyy'}}</p>
              <p class="card-text" *ngIf="producto.fecha_venta"><strong>Fecha de Venta:</strong> {{ producto.fecha_venta }}</p>
            </div>
          </div>
        </div>
        <div *ngIf="!producto">
          <p>No se encontró información del producto.</p>
        </div>
      </div>
    </div>
  </div>