<div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Iniciar Sesión</h5>
        <form #formulario="ngForm" (ngSubmit)="login(formulario)">
        <div class="mb-3">
            <label for="usuario" class="form-label">Usuario:</label>
            <input type="text" class="form-control" id="usuario" name="usuario" [(ngModel)]="usuario" required>
            </div>
            <div class="mb-3">
            <label for="contrasena" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" id="contrasena" name="contrasena" [(ngModel)]="contrasena" required>
            </div>            
            <button (click)="navigateToListarProd()" class="btn btn-primary">Entrar</button>
        </form>
      </div>
    </div>
  </div>
