<div class="container mt-5">
  <!-- Filas para los filtros -->
  <div class="row mb-3">
    <!-- Filtros de búsqueda -->
    <div class="col">
      <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="filtroNombre">
    </div>
    <div class="col">
      <input type="number" class="form-control" placeholder="Valor" [(ngModel)]="filtroValor">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Fecha Ingreso" [(ngModel)]="filtroFechaIngreso">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Fecha Venta" [(ngModel)]="filtroFechaVenta">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Estado" [(ngModel)]="filtroEstado">
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="aplicarFiltros()">Aplicar Filtro</button>
    </div>
    <div class="col">
      <button class="btn btn-secondary" (click)="limpiarFiltros()">Limpiar Filtro</button>
    </div>
    <div class="col">
      <button (click)="agregarProducto()" class="btn btn-primary">Agregar</button>
    </div>
  </div>

  <div class="container">
    <h2>Lista de Productos</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Valor</th>
          <th>Fecha de Ingreso</th>
          <th>Fecha de Venta</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productosFiltrados">
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.valor }}</td>
          <td>{{ producto.fechaCreacion | date: 'dd/MM/yyyy'}}</td>
          <td>{{ producto.fechaVenta | date: 'dd/MM/yyyy' }}</td>
          <td>{{ producto.estado }}</td>
          <td>
            <button (click)="verDetalles(producto.id)" class="btn btn-primary btn-sm">Detalles</button>
            <button (click)="eliminarProducto(producto.id)" class="btn btn-danger btn-sm">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
