<div class="container">
    <h2>Agregar Producto</h2>
    <form (ngSubmit)="guardarProducto(producto)">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="producto.nombre" name="nombre" required>
      </div>
      
      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <textarea class="form-control" id="descripcion" [(ngModel)]="producto.descripcion" name="descripcion" required></textarea>
      </div>
      <div class="form-group">
        <label for="valor">Valor:</label>
        <input type="number" class="form-control" id="valor" [(ngModel)]="producto.valor" name="valor" required>
      </div>
      <div class="form-group">
        <label for="marca">Marca:</label>
        <input type="text" class="form-control" id="marca" [(ngModel)]="producto.marca" name="marca" required>
      </div>
      <div class="form-group">
        <label for="fechaVenta">Fecha de Venta:</label>
        <input type="date" class="form-control" id="fechaVenta" [(ngModel)]="producto.fechaVenta" name="fecha">
      </div>
      <div class="form-group">
        <label for="imagen"> Imagen: </label>
        <input type="file" class="form-control-file" id="imagen" (change)="onFileSelected($event)">
        <img *ngIf="producto.imagen" [src]="producto.imagen" alt="Imagen seleccionada" class="img-fluid mt-2" style="max-width: 200px;">
      </div>
      <button type="submit" class="btn btn-primary">Guardar Producto</button>
      <button type="reset" class="btn btn-secondary" (click)="limpiarFormulario()">Limpiar</button>

    </form>
  </div>